<section>
  <div id="array-buttons-area" *ngIf="!ingreso">
    <button (click)="ingreso = true">Ingresar nuevo vector</button>
  </div>


  <div  *ngIf="ingreso">
    
    <div id="array-buttons-area" >
      <input type="text" [(ngModel)]="numeros" placeholder="Ingrese los números separados por un espacio en blanco">
    </div>
    <div id="array-buttons-area">
      <button (click)="ingresoDatos()">Ingresar Datos</button>
    </div>
    <div id="array-buttons-area" *ngIf="error">
      <h1 style="color: red">{{mensaje}}</h1>
    </div>
  </div>
  

</section>

<section>

  <div class="file-input-wrapper">
    <button  ion-button round full>Seleccionar Archivo</button>
    <input type="file" name="file"   (change) ="fileChanged($event)" />
  </div>
</section>


<section>
  <div id="array-buttons-area">
    <button *ngFor="let vec of vectores; let i=index" (click)="seleccionarVector(vec, i+1)">Arreglo {{i + 1}}</button>
  </div>
  <div id="result-area">
    <div id="array">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Arreglo {{num}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let num of vector?.vector">
            <td>{{num}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="calculations">
      <p><strong>Media: </strong>{{vector?.mean}}</p>
      <p><strong>Desviación: </strong>{{vector?.standarDeviation}}</p>
    </div>
  </div>
</section>
